@use 'util/config' as u;
/** Contact Form **/
// =====================================================
.custom-error-message {
	position: relative;
	top: 12px;
}

form.snow-monkey-form {
	button {
		background-color: #ff6900 !important;
		background-image: unset !important;
		color: white;
		border: unset !important;
	}
}
